<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center mb-3">File Uploader Project & ELK stack</h1>
        <p>Feel free to contact me</p>
        <ul>
          <li>via twitter @basavyr</li>
          <li>via github @basavyr</li>
          <li>via email at robert.poenaru@protonmail.ch</li>
        </ul>
        <!-- <h2 class="small text-center">Class = Container-Fluid</h2> -->
      </div>
    </div>
  </div>
</div>
